<div class="row text-center">
  <h3>Simple Heatmap</h3>
  <select (change)="switchLanguage($event.target.value)">
    <option value="en">English</option>
    <option value="tr">Türkçe</option>
    <option value="de">Deutsch</option>
    <option value="fr">Français</option>
  </select>
</div>
<div class="row text-center">
  <div class="year-grid">
    <div *ngFor="let month of heatmapData" class="month-container">
      <h4>{{ monthNames[month.month] }}</h4>
      <div class="month-grid">
        <div *ngFor="let week of month.data" class="week-row">
          <div *ngFor="let day of week" class="heatmap-cell" [style.backgroundColor]="getHeatmapColor(day?.value)" (click)="onDayClick(day)">
            {{ day?.day || '' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
